
html {
    font-size: 1.3125rem;

}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    
}

.container {
    padding: 0 0.2em;
    max-width: 570px;
    margin: 0 auto;
}

.presentation {
    min-height: 100vh;
    display: flex;
    align-items: center;
   
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
}

h2 {
    font-size:2.625rem; 
    margin-top: 0;
    border-top: 1px #C4C4C4 solid;
    border-bottom: 1px #C4C4C4 solid;
    padding: 0.5em 0;
}

h1, h2 {
    font-weight: 300;
   
}

h3 {
    font-size: 1.5rem;
    
}

.bold-text {
    font-weight: 700;
    display: block;
    color: #b3aeae;
    text-shadow:rgb(241, 245, 247) 0.8em;
}

h1 span {
    font-size: 5rem;
     
}

h2 span {
    font-size: 3rem;
}

p{
    margin-bottom: 0;
}

.lkedin,
.btn,
.git {
    color: #666365;  
    text-decoration: none;
    font-weight: 700; 
}

.git:hover,
.git:focus {
    color: rgb(51, 71, 62); 

}

img {
    max-width: 100%;
}

.presentation,
.projects {
    background: #FFF;;
    color: #252525;
}

.carrer {
    background: #252525;
    color: #fff;
    
}


.presentation,
.carrer,
.projects {
    padding: 4.5em 0;

}

.btn,
.lkedin {
    display: inline-block;
    background: #666365; 
    color: white;
    font-size: 0.755rem;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 4px;
    transition: font-size 0.5ms;
    
}

.btn:hover,
.btn:focus,
.lkedin:hover,
.lkedin:focus {
    background: #545366; 
    color: white;
    font-size: 0.855rem;
}

@media(min-width: 600px) {
    html {
        font-size: 1.3125rem;
    }
}

@media(min-width: 750px) {
    .about {
        display: flex;
        
    }

    .projects {
        background: #8d8b8c; 
        color:white;
        width: 100%;
        
    }

    .carrer {
        width: 100%;
    }

    .bold-text,
    .git {
        color: rgb(241, 238, 28); 
    }
    

    .btn,
    .lkedin {
        align-items: bottom;
    }




}